.mozaiqueContainer {
    margin: 0;
}

.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    row-gap: 20px;
}

